
.contain {
  display: flex;
  flex-direction: row;
  padding: 2em;
  width: 100%;
}

h1{
  font: 1rem/1.3 "Roboto", sans-serif;
  font-weight: bold;
  font-size: xxx-large;
  text-align: left;
  letter-spacing: 0.05em;
}
/* article 3 formular bearbeiten */
.search{ /* input text + Symbol */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
input[type="text"]{
  height:40px;
  width:200px;
  background: #e7e7e7;
  font-family: inherit;
  font-weight: bold;
  font-size: 120%;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin-top: 30px;
}
.button1{  /*Search Button/Symbol */
  height:40px;
  width:40px;
  background: #e7e7e7;
  border-radius: 50%;
  margin-left:0.5em;
  margin-top: 30px;
  outline: none;
} /* article 3 Ende  */

h2.city{
  margin-bottom: 10px;
}
div.temp{
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {

  h1{ font-size: 2rem}
  div.temp{font-size: 1rem}
.contain{
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.search{margin: 0}
}
