/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 16px/1.5 "Lato", sans-serif;
  max-width: 1980px;
  margin:    0 auto;
}
/* PAGE-CONTENT (MAIN) STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
  position: relative;
  width: 100% ;
  min-height: 100vh;
  padding: 30px;
  color: var(--page-content-txtColor);
  background: var(--page-content-bgColor);
  max-width: 1500px;
  margin:0 auto;
}
.page-content .grid {
  display: grid;
  grid-template-columns: repeat(2,minmax(400px,1fr));
  grid-gap: 40px;
  align-items: center;
}

/* --- Style für alle article Elemente ---  */
.page-content .grid > article {
  display: flex;
  box-sizing:border-box;
  height: 300px;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
  align-items: center;
  text-align: center;
  overflow:hidden;
  font-family: 'Robotic', sans-serif;
  transition: all .2s ease;
}


/* ------Style nur für article1 --------------- */
.page-content .grid > article.article1 {
  display: table ;
  height: 204px;
  grid-column: 1 / -1;
}

/* article 3 Wetter App  */
.article2{
  padding:5px;
}
.article3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
}
.article4{
  padding:5px;
}
.article5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
}
.youtube{
  border-radius: 10px;
}
pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}
/*pdf viewer */
.article6{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.article7{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/* BOX SHADOW (links und rechts spiegelbild) */
.article2, .article4, .article6{
  box-shadow: 5px 10px rgba(110, 126, 150, 0.07);
}
.article3, .article5, .article7{
  box-shadow: -5px 10px rgba(107, 111, 133, 0.07);
}
/*  HOVER  */
.article2:hover, .article4:hover, .article6:hover{
  box-shadow:5px 10px rgba(62, 69, 91, 0.34);
}
.article3:hover, .article5:hover, .article7:hover{
  box-shadow:-5px 10px rgba(62, 69, 91, 0.34);
}
.article2,.article3,.article4, .article5, .article6, .article7{
  max-width: 700px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: small;
}

.page-footer a {
  margin-left: 4px;
}
.autor{
  margin-right: 2rem;
}

/* MQ RULES  Smartphone und Tablets
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1000px) {
  .page-content {
    position: static;
    width: 100%;
    min-height: 0;
    padding: 10px;
  }

  .page-content .grid {
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (min-width: 768px) {

  .page-content {
    left: 40px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 600px) {
  .page-content .grid > article {
    grid-column: 1 / -1;
  }
}











