/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Lato", sans-serif;
  max-width: 1980px;
  margin:    0 auto;
}

:root {
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-headingColor: #7889a4;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #d22a4a;
  --border-radius: 10px;
  --switch-bgLightModeColor: #87cefa;
  --switch-sunColor: gold;
  --switch-moonColor: #f4f4f4;
  --switch-bgDarkModeColor: #1f1f27;
}


@media screen and (max-width: 1000px) {
  .page-content {
    position: static;
    width: 100%;
    min-height: 0;
    padding: 10px;
  }

  .page-content .grid {
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (min-width: 768px) {

  .page-content {
    left: 40px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 600px) {
  .page-content .grid > article {
    grid-column: 1 / -1;
  }
}
